.bio {
	background: $red;
	text-align: center;
	color: $white;
	font-size: rem(16);
	padding: 10px;
	&__description {
		margin: 0;
	}
	&__more {
		display: block;
		color: $white;
		font-weight: bold;
		font-style: italic;
		font-size: 1.2em;
		padding:10px 0;
	}
}