.categories {
	text-align: center;
	color: colors(grayMedium);; 
	margin: 0 0 4em 0;
	padding: 5px 0 15px 0;
	&__tag {
		color: colors(grayMedium);;
		font-style: italic;
		&:hover {color:colors(yellow);;}
	}
	a {
		color: colors(grayMedium);;
		font-style: italic;
		&:hover {color:colors(yellow);;}
	}
}