.continue {
	text-align: center;
	&__link {
        color: colors(white);
		display: inline-block;
		padding: 10px 3em;
		text-align: center; 
		margin: 1em auto .2em auto;
		background: colors(orange);;
		border: 2px solid colors(orange);;
		text-transform: uppercase;
		@include transition(all .3s);
		a {color: colors(orange);;}
		&:hover {
			color: colors(orange);; 
			@include background-color(white);
		}
	}
}