$bar-height: 3px;

.menu {
	display: inline-block;
	position: relative;
	height: 65px;
	width: 50px;
	div {
		position: absolute;
		width: 100%;		
		height: $bar-height;
		background-color: colors(orange);;
		@include transition(all);
		@include transition-duration(1s);
		@include transition-timing-function(cubic-bezier(0.5,-0.8, 0.5, 1.8));
		border-radius: 5px;
		&:nth-child(1) {
			top: 15px;
		}
		&:nth-child(2) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:nth-child(3) {
			bottom: 15px;
		}
	}
	&--open {
		div {
			&:nth-child(1) {
				transform: translateY(16px) rotate(225deg);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: translateX(50px);
			}
			&:nth-child(3) {
				transform: translateY(-16px) rotate(315deg);
			}
		}
	}
}