.sidebar-title {
	color: colors(blueDark);;
	font-weight: 300;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 2px dashed colors(blueDark);;
	margin-bottom: 5px;
	margin-top: 1em;
	&--gray {
		@extend .sidebar-title;
		color: colors(grayDark);;
		border-color: colors(grayDark);;
	}
	&--orange {
		@extend .sidebar-title;
		color: colors(orange);;
		border-color: colors(orange);;
	}
	&--lightblue {
		@extend .sidebar-title;
		color: colors(blueLight);;
		border-color: colors(blueLight);;
	}
}