.title {	
	@include span-columns(12);
	position: fixed;
	background: $white;
	a {
		color: $dark-gray;
	}
	&__text {
		font-weight: 100;
		margin: 0px;
		display: inline-block;
		&--strong {
			color: $blueDark;
			font-weight: 900;
		}
		&--tagline {
			display: none; 			
			@include media($tablet) {
				@include display(flex);
				color: $red;
				font-size: rem(22);
			}
		}
	}
	@include media($tablet) {
		@include span-columns(11);
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		height: 65px;
		color: $dark-gray;	
		border-bottom: 1px solid $light-gray;
	}
}