.continue {
	color: $red;
	display: inline-block;
	width: 50%;
	padding: 10px;
	text-align: center;
	border: 2px dashed $red;
	margin: 2em auto 1em auto;
	a {color: $red;}
	&:hover {
		color: $white; 
		background-color: $red;
	}
	@include media($tablet) {
		width: 30%;
	}
}