.sidebar-title {
	color: $blueDark;
	font-weight: 400;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 1px dashed $blueDark;
	margin-bottom: 5px;
	margin-top: 1em;
	&--gray {
		@extend .sidebar-title;
		color: $dark-gray;
		border-color: $dark-gray;
	}
	&--red {
		@extend .sidebar-title;
		color: $red;
		border-color: $red;
	}
}